@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fcfbe4;
}


.nav-header {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 32px;
}

.title-container {
    margin: 20px 35px;
}

.title-container>h1 {
    margin: 0;
    font-size: 32px;
    color: #542344;
}

.auth-links,
.nav-links {
    margin: 25px;
}

.auth-links>a {
    background-color: #542344;
    color: #fcfbe4;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links>a {
    text-decoration: none;
    margin: 0 6px;
    font-weight: bold;
    color: #542344;
}



.welcome-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px 35px;
}

.welcome-container>h1 {
    margin: 0;
    font-size: 32px;
    color: #542344;
}


.redirect-links {
    margin: 0 6px;
    font-weight: bold;
    color: #542344;
}



.signup-page,
.signin-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.signup-form-container-1,
.signin-form-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.signup-form-container-2>h1,
.signin-form-container-2>h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: #542344;
    width: 400px;
    text-align: center;
}

.signup-form-container-2>form,
.signin-form-container-2>form {
    display: flex;
    flex-direction: column;
    color: #542344;
}

input {
    border: 1px solid #F9B5AC;
    border-radius: 10px;
    margin: 12px 0;
    padding: 10px;
}

button {
    border: none;
    border-radius: 8px;
    color: #fcfbe4;
    background-color: #542344;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 0;
}


.index-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    margin: 0 auto;
}

.index-header>h1 {
    text-transform: uppercase;
    font-size: 32px;
    color: #542344;
}

.index-header>a {
    padding: 6px 12px;
    border: 1px solid #024DA1;
    color: #024DA1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px;
    border-radius: 10px;
}

.index-header>a:hover {
    background-color: #024DA1;
    border: 1px solid #024DA1;
    color: #fcfbe4;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: center;
    font-size: 18px;
}

.recipe-container>a {
    padding: 12px 25px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 5px 30px 50px;
    color: #fcfbe4;
    background-color: #024DA1;
    box-shadow: 1px 1px 6px 0 #F58F29;
    transition: all .50s ease;
    border-radius: 10px;
    min-width: 200px;
    max-width: 200px;
}

.recipe-container>a:hover {
    background-color: #fcfbe4;
    box-shadow: 2px 2px 12px 0 #024DA1;
    color: #024DA1;
}

a>h2 {
    font-size: 18px;
}



.newRecipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.newRecipe-form-container {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    background-color: #542344;
    max-width: 440px;
    border-radius: 10px;
}

.newRecipe-form-container>h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 32px;
    color: #ffba00;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.newRecipe-form-container>form {
    display: flex;
    flex-direction: column;
    color: #fcfbe4;
}

.newRecipe-form-container>form>input {
    background-color: #fcfbe4;
    border: none;
}

.newRecipe-form-container>form>textarea {
    background-color: #fcfbe4;
    border-radius: 10px;
    margin: 12px 0;
    max-width: 100%;
    max-height: 100px;
    min-height: 32px;
    resize: vertical;
}

.newRecipe-form-container>form>button {
    margin-bottom: 20px;
    background-color: #ffba00;
    color: #542344;
    text-transform: uppercase;
    margin-top: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newRecipe-form-container>form>button:hover {
    background-color: #F58F29;
    color: #542344;
}


.showDetails-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.showDetails-form-container {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    background-color: #008539;
    max-width: 600px;
    border-radius: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container>h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 32px;
    color: #fcfbe4;
    font-weight: bold;
    text-align: left;
}

.showFavs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showFavs-form-container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    width: 120px;
}

.showFavs-form-container>p {
    margin: -6px 0px;
    color: #fcfbe4;
}

.details {
    padding-bottom: 50px;
    font-weight: normal;
    font-size: 18px;
    color: #fcfbe4;
    margin: 10px
}

.details>h2 {
    padding: 0px;
    line-height: 32px;
    font-size: 24px;
}

.details>p {
    margin-top: -16px;
    line-height: 32px;
}

.showFavs-form-container>form>button {
    cursor: pointer;
    background-color: #542344;
    color: #fcfbe4;
    transition: background-color 0.3s ease;
}

.showFavs-form-container>form>button:hover {
    background-color: #fcfbe4;
    color: #542344;
}

.showDetails-form-container>form {
    display: flex;
    flex-direction: column;
}


.showDetails-form-container>form>button {
    margin: 12px;
    background-color: #fcfbe4;
    color: #542344;
    text-transform: uppercase;
    cursor: pointer;
    font: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.showDetails-form-container>form>button:hover {
    background-color: #542344;
    color: #fcfbe4;
}


.button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #542344;
    background-color: #fcfbe4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 12px;
}

.button:hover {
    background-color: #542344;
    color: #fcfbe4;
}



.editRecipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.editRecipe-form-container {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    background-color: #542344;
    max-width: 440px;
    border-radius: 10px;
}

.editRecipe-form-container>h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 32px;
    color: #ffba00;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.editRecipe-form-container>form {
    display: flex;
    flex-direction: column;
    color: #fcfbe4;
}

.editRecipe-form-container>form>input {
    background-color: #fcfbe4;
    border: none;
}

.editRecipe-form-container>form>textarea {
    background-color: #fcfbe4;
    border-radius: 10px;
    margin: 12px 0;
    max-width: 100%;
    max-height: 100px;
    min-height: 32px;
    resize: vertical;
}

.editRecipe-form-container>form>button {
    margin-bottom: 20px;
    background-color:#ffba00;
    color: #542344;
    text-transform: uppercase;
    margin-top: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: sans-serif; 
}

.editRecipe-form-container>form>button:hover {
    background-color:#F58F29;
    color: #542344;
}

.backButton {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #542344;
    background-color: #ffba00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 32px 0px;
    font-family: sans-serif;
}

.backButton:hover {
    background-color: #F58F29;
    color: #542344;
}



.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color:#024DA1;
    color:#fcfbe4;
    padding: 50px 50px;
    border-radius: 10px;
    margin: auto;
}

.content-container {
    display: flex;
    gap: 40px;
}

.myRecipes-container,
.myFavs-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 500px; 
    border-radius: 10px;
    align-items: center;
}

.recipeCards>a {
    text-decoration: none;
    margin: 20px 20px;
    padding: 0px 20px;
    width: 200px;
    color: #fcfbe4;
    background-color: #024DA1;
    box-shadow: 1px 1px 6px 0 #F58F29;
    transition: all .50s ease;
    border-radius: 10px;
    align-content: center;
}

.recipeCards {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
}

.myRecipes-container {
    background-color: #fcfbe4;
}

.myFavs-container {
    background-color:#fcfbe4;
}

.myRecipes-container>h1,
.myFavs-container>h1 {
    text-transform: uppercase;
    font-size: 32px;
    color: #542344;
}

.myRecipes-container>h2,
.myFavs-container>h2 {
    text-transform: uppercase;
    font-size: 32px;
    color:#F58F29;
}


.myRecipes-container>a:hover,
.myFavs-container>a:hover {
    background-color: #fcfbe4;
    box-shadow: 2px 2px 12px 0 #024DA1;
    color: #024DA1;
}