<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Recipes</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="index-header">
        <h1>All Recipes On Frolic Flavours</h1>
        <a href="/recipes/new">Add a New Recipe</a>
    </div>
    <div class="recipe-container">
        <ul>
            <% recipes.forEach((recipe)=> { %>
                <li>
                    <a href="/recipes/<%=recipe._id%>">
                        <%= recipe.nameOfRecipe %> owned by <%= recipe.owner.username %>.
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
</body>
</html>